/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
background-image: url("images/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  
}
#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}


